.head-heading {
	font-family: cursive;
	text-align: center;
	padding-bottom: 40px;
	text-decoration: underline;
	color: bisque;
}
/*styling the font, color and decoration of the text*/
/*centering the heading and adding padding at the bottom for spacing*/
