.startGame-button {
	margin-left: 730px;
	padding: 5px;
	background-color: green;
}
/*adding margin to center the button and padding to make the button bigger*/
/*changing the background color to green*/
